.main {
  background-image: url(../img/InternetBackground.jpg);
  background-repeat: no-repeat;
  background-size: auto;
  text: black;
}

.Tir {
  background-image: url(../img/TirBack.jpg);
}
.thumbnail {
  text-align: center;
}
.banner {
  width: 100%;
  /* background-color: gray; */
  padding: 1%;
  text-align: center;
  margin: 30px;
background-color: #ffffff;
border: 1px solid black;
opacity: 0.5;
filter: alpha(opacity=50);
}

.banner:hover {
  opacity: 1.0;
  filter: alpha(opacity=100);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

img {
  width: 75%;
}

.hacking {
  text-decoration-color: green;
}
