body {
  background-image: url(../img/InternetBackground.jpg);
  background-repeat: no-repeat;
  background-size: auto;
  text: black;
}

.thumbnail {
  text-align: center;
}
.banner {
  width: 100%;
  background-color: gray;
  padding: 1%;
  text-align: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
